<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSLocationWhenInUseDescription</key>
	<string>You must allow this in order for WhereRU to update your current location for your friends while you are still in the map group but the app is in the background. </string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>privacy - location usage description</key>
	<string>You must allow this in order for WhereRU to work correctly</string>
</dict>
</plist>
